<div class="col-xs-12 col-sm-6 col-md-3">

  <!-- Button trigger modal -->
  <div class="thumbnail">
    <a data-toggle="modal" href="#photoModal<%= photo.id %>">
      <%= image_tag photo.picture_url(:thumb) %>
    </a>
    <div class="caption">
      <h5 class="text-center"><%= photo.caption %></h5>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="photoModal<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="photoModalLabel<%= photo.id %>"><%= photo.caption %></h4>
        </div>
        <div class="modal-body">
          <%= image_tag photo.picture, class:'modal-photo center-block' %>
          <br /><br />
          <p>Photo added by <%= photo.user.email %></p>
        </div>
      </div>
    </div>
  </div>

</div>
