<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@comment.errors.count, "error") %> prevented this review from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @place.name %></h1>
  <br />

  <% if @place.avg_rating.present? %>
    <h4>
      <%= render 'star_rating', rating: @place.avg_rating %>
      (<%= @place.comments.count %> reviews)
    </h4>
  <% else %>
    <h4>No reviews yet! :(</h4>
  <% end %>
  <br />

  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>
  </br />
  <% if @place.latitude.present? && @place.longitude.present? %>
    <%= render 'map', place: @place %>
    <br />
  <% end %>

  <div class="pull-left">
    <i>Place added by <%= link_to @place.user.email, user_path(@place.user) %></i>
  </div>
  <% if current_user && current_user == @place.user %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-info' %>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this place?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2 class="pull-left">Photos</h2>

  <% if current_user %>
    <%= render 'add_place_item', item_type: 'photo' %>
  <% else %>
    <%= link_to 'Sign in to add Photos', new_user_session_path, class: 'btn btn-primary pull-right' %>
  <% end %>

  <br class="clear" />
  <hr />

  <%= render(@place.photos) || render('empty_list', item: 'photo') %>
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2 class="pull-left">Reviews</h2>

  <% if current_user %>
    <%= render 'add_place_item', item_type: 'review' %>
  <% else %>
    <%= link_to 'Sign in to Review', new_user_session_path, class: 'btn btn-primary pull-right' %>
  <% end %>

  <br class="clear" />
  <hr />

  <%= render(@place.comments, show_user: true, show_place: false) || render('empty_list', item: 'review') %>
</div>
